* {
  margin: 0px;
}

.bar {
  height: 70px;
  max-width: 100%;
  border-style: solid;
  border-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.cart-icon {
  width: 20px;
  height: 20px;
}
